body {
	font-size: 42px;
	font-family: "Trebuchet MS";
	margin-top: 100px;
	height: 100vh;
	background: #0A0B0B;
}

.game-text {
	text-align: center;
	color: white;
}

.game-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game-row {
	display: flex;

	gap: 10px;
}

.game-tile {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	
	border-radius: 4px;
	background: #272727;
	color: white;
	border: 2px solid #dbdbdb;
	border-radius: 100;
}

.game-tile.present {
	background: yellow;
}

.game-tile.absent {

}

.game-tile.correct {

}